.category,
.item {
  border: 1px solid navy;
  padding: 0 10px;
  background-color: transparent;
}

.category:hover {
  background-color: lightblue;
  cursor: pointer;
}

.categories,
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
